@import "bootstrap";

/*********************************** FONTS ************************************/
@font-face {
  font-family: 'Didot Regular';
  src: url('/fonts/Didot Regular.ttf');
}

@font-face {
  font-family: 'Social Media Circled';
  src: url('/fonts/Social Media Circled.otf');
}
/******************************** END OF FONTS ********************************/

/***************************** SHARED ACROSS PAGES ****************************/
body {
  font-family: 'Times New Roman';
}

h1 {
  font-family: 'Didot Regular';
  color: #b7c8f4;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background: #b7c8f4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a5b6e2;
}

a {
  color: #b7c8f4;
}

a:hover {
  text-decoration: none;
  color: #8da3dc;
}

#root {
  padding: 20px 20px;
}
/************************* END OF SHARED ACROSS PAGES *************************/

/*********************************** NAVBAR ***********************************/
.navbar {
  background-color: #8da3dc;
  border-radius: 10px;
  width: 70%;
  //display: inline-block;
}

.navbar a {
  color: white;
}

.nav-item {
  margin-right: 20px;
}

.navbar-toggler-icon {
  color: white;
}

.navbar-toggler {
  background-color: #b7c8f4;
}

.dropdown-menu {
  background-color: #8da3dc;
  text-align: center;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: #b7c8f4;
  color: white;
}
/******************************** END OF NAVBAR *******************************/

/*********************************** BANNER ***********************************/
#banner {
  position: relative;
}

#banner img {
  height: 100%;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
}

#banner h1 {
  z-index: 50;
  position: absolute;
  font-weight: bold;
  top: 80px;
  left: 20px;
  letter-spacing: 10px;
}

#banner .navbar {
  z-index:100;
  position:absolute;
  top: 10px;
}
/******************************** END OF BANNER *******************************/

/********************************** MAIN TEXT *********************************/
.main {
  border: 1px solid #8da3dc;
  border-radius: 10px;
  height: 640px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.main-inner {
  padding: 30px 30px;
}
/******************************* END OF MAIN TEXT *****************************/

/************************************ HOME ************************************/
#home {
  border: 1px solid #8da3dc;
  border-radius: 10px;
  padding: 30px 30px;
}

#home img, #profile-pic {
  height: 85%;
  width: 85%;
  float: right;
}

#home img {
  border-radius: 10px;
}

#home span {
  vertical-align: middle;
}

.social-icon {
  font-family: 'Social Media Circled';
  font-size: 40px;
}
/********************************* END OF HOME ********************************/
